<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @item.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @item.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @item.website %>
</p>

<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-link" %> |
<%= link_to 'Back', items_path, class: "btn btn-link" %>
